/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1150px;
    height: 646px;
    margin-top: 2%;
}

.hero-section {
    background-color: #1E1E1E;
    color: white;
    border-radius: 30px;
}

.h-parent-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.h-left-div{
    width: 531px;
    height: 424px;
    margin-top: 70px;
    margin-left: 50px;
}

.h-title {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700px;
    margin-bottom: 0px;
}

.h-left-div p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
}

.h-left-div button {
    width: 187px;
    height: 56px;
    border-radius: 5px;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    border: none;
}

.r-arrow {
    margin-left: 8px;
}

.h-right-div {
    margin-right: 30px;
    margin-left: 35px;
}

.h-right-div img {
    width: 100%;
}

.h-img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
}